{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ ticklist.title }}{% endblock %}

{% block head %}
  <link href="{% static 'css/articles.css' %}" rel="stylesheet">
  <script src="{% static 'js/articles.js' %}"></script>
{% endblock head %}

{% block main %}
  <ol class="breadcrumb">
    <li><a href="{% url 'ticklist' %}">{% trans 'TickList' %}</a></li>
    <li class="active">{% trans 'View TickList' %}</li>
  </ol>
  <div>
     <a href="{% url 'edit'  %}" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-pencil"></span> {% trans "Edit TickList" %}
      </a>
     <a href="{% url 'editSelective'  %}" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-pencil"></span> {% trans "Selectively Edit TickList" %}
      </a>
</div>
  {% for days in ticklist %}
	<li>{{ days }}</li>
  {% endfor %}
{% endblock main %}


