{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ config_settings.title }}{% endblock %}

{% block head %}
  <link href="{% static 'css/ticklist.css' %}" rel="stylesheet">
  <script src="{% static 'js/articles.js' %}"></script>
{% endblock head %}

{% block main %}
  <ol class="breadcrumb">
    <li><a href="{% url 'config_settings' %}">{% trans 'Change Settings' %}</a></li>
  </ol>
  <div>
     <a href="{% url 'change_signup'  %}" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-pencil"></span> {% trans "Change Signup url" %}
      </a>
     <a href="{% url 'reset_list'  %}" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-pencil"></span> {% trans "Reset Mess List" %}
      </a>
      <a href="{% url 'change_menu'  %}" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-pencil"></span> {% trans "Upload Menu" %}
      </a>
     <a href="{% url 'edit_bill'  %}" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-pencil"></span> {% trans "Add bill" %}
      </a>
</div>

{% endblock main %}


