{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ config_settings.title }}{% endblock %}

{% block head %}
  <link href="{% static 'css/ticklist.css' %}" rel="stylesheet">
  <script src="{% static 'js/articles.js' %}"></script>
{% endblock head %}

{% block main %}
  <ol class="breadcrumb">
    <li class="active">{% trans 'View Billing Info' %}</li>
  </ol>

  <table id="showticklist">
	<thead>
	  <tr>
	    <th>Months</th>
 	    <th>Mess Fess</th>
	  </tr>
        </thead>
	<tbody>
		{% for x in arr %}
		<tr>  
		  <td>{{ x.0 }}</td>
		  <td>{{ x.1 }}</td>
    		</tr>	
  		{% endfor %}
	</tbody>
  </table>
{% endblock main %}


